@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --background-color: #4b5759;
    --background-dark-color: #313f42;
    --skyblue: #00a2ff;
    --white: #fff;
}



.container__body {
<<<<<<< HEAD
    width: auto;
=======
    width: auto ;
>>>>>>> c50c0a442fe7d4b8a6123c724f50b01d6b931bd8
    height: 30vh;
    position: absolute;
    top: 10px;
    left: 1350px;
    margin-top: 40px;

}


/* Options Tag */

h1, h2, h3, h4, h5, h6, p, span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.remove {
    display: none;
}


/* Main Css */

.serverInfo-playerInfo__row {
    height: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
}



/* Server Info Box */

/* Server-Data */

.server-data h1 {
    font-size: 16px;
    margin-left: 5px;
}

/* /////////// */


.background__serverInfo {
    position: relative;
    width: 180px;
    height: 100px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px 30px 0 30px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: var(--white);
}

.background__serverInfo >h1 {
    top: 5px;
    left: 20%;
    position: absolute;
    color: var(--white);
    font-size: 14px;
}

.background__serverInfo >h1 >span {
    color: var(--skyblue);
}


.background__serverInfo .server-data {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
}

.background__serverInfo .server-data >img {
    width: 15%;
}

/* Player Info Box */
.background__playerInfo {
    position: relative;
    width: 320px;
    height: 100px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 5px 15px 5px 30px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.background__playerInfo >h1 {
    top: 5px;
    left: 15%;
    position: absolute;
    color: var(--white);
    font-size: 14px;
}

.background__playerInfo >h1 >span {
    color: var(--skyblue);
    margin-left: 10px;
    margin-right: 40px;
}


/* Statistic Info User */

.background__playerInfo .playerInfo__params {
    width: auto;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/* Heal */

/* Global Progress Bar */

.radius-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.radius-progress .radius {
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--background-dark-color);
}

.radius-progress .radius .progress {
    height: 100%;
    border-radius: 10px;
}

.radius-progress >img {
    width: 20px;
}

/* /////////////////// */

.background__playerInfo .playerInfo__params .playerInfo__params__heal {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.playerInfo__params__heal__progress {
    background-color: red;
}

/* Armor */

.playerInfo__params__armor__progress {
    background-color: gray;
}

/* Eat */

.playerInfo__params__eat__progress  {
    background-color: orange;
}

/* Guns Info */

.background__playerInfo .playerInfo__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.background__playerInfo .playerInfo__info .playerInfo__info__gun {
    width: 60px;
    height: 60px;
    background-color: var(--background-dark-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.background__playerInfo .playerInfo__info .playerInfo__info__gun img {
    height: 40px;
}

.background__playerInfo .playerInfo__info .playerInfo__info__countsGun {
    box-sizing: content-box;
    padding: 2px 10px;
    width: auto;
    height: auto;
    background-color: var(--background-dark-color);
    border-radius: 10px;
}

.background__playerInfo .playerInfo__info .playerInfo__info__countsGun >span {
    font-size: 12px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* UserSerch And UserMoney Row */

.userSearch-userMoney__row {
    width: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    margin-top: 10px;
}

/* userSearch */

.background__userSearch {
    position: relative;
    width: auto;
    height: 50px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.background__userSearch img {
    height: 80%;
}

.background__userMoney {
    position: relative;
    max-width: 230px;
    height: 50px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.background__userMoney img {
    width: 12%;
}

.background__userMoney span {
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}


/* Media */
  
@media (max-width: 1680px){
    .container__body {
        left: 1100px;
    }
}
  
@media (max-width: 1600px){
    .container__body {
        left: 1050px;
    }
}
  
@media (max-width: 1440px){
    .container__body {
        left: 900px;
    }
}

@media (max-width: 1400px) {
    .container__body {
        left: 850px;
    }
}
@media (max-width: 1367px) {
    .container__body {
        left: 800px;
    }
}

@media (max-width: 1280px) {
    .container__body {
        left: 750px;
    }
}

@media (max-width: 1152px) {
    .container__body {
        left: 600px;
    }
}

@media (max-width: 1024px) {
    .container__body {
        left: 500px;
    }
}

@media (max-width: 800px) {
    .container__body {
        left: 260px;
    }
}
<<<<<<< HEAD
=======

@media (max-width: 640px) {
    .container__body {
        left: 100px;
    }
}
>>>>>>> c50c0a442fe7d4b8a6123c724f50b01d6b931bd8
